html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #171836;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.hover-btn:hover {
  padding: 10px 30px;
  background-color: inherit;
  color: #F5443B;
  border: 2px solid #F5443B;
}
.activ-btn:active {
  color: #b33832;
  border: 2px solid #b33832;
}
.container {
  width: 1240px;
  height: auto;
  padding: 0 20px;
}
.nav-sec {
  margin-top: 32px;
}
.navigation-sec {
  width: 328px;
  height: 17px;
  padding: 0;
  margin-left: -300px;
}
.nav-list {
  list-style: none;
}

.nav-link {
  width: 55px;
  height: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.list-one {
  width: 40px;
  height: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.nav-link:hover {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.login-list {
  list-style: none;
  margin-left: 20px;
}
.login-link {
  padding: 12px 32px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: 
  #F5443B;
}

.lang-select {
  width: 80px;
  height: 30px;
  margin-right: 20px;
  background-color: transparent;
  background-image: url("../media/img/globe-regular-24\ \(2\).png");
  background-repeat: no-repeat;
  background-position: top 2px left 35px;
  border: none;
  font-size: 15px;
  color: #D1D1D7;
}

.lang-option {
  background-color: #171836;
}

/* START HERO SEC */
.hero-page {
  position: relative;
}
.hero-img-sec {
  position: relative;
  top: 145px;
  left: -125px;
}
.users-secton {
  position: absolute;
  width: 363px;
  height: 92px;
  left: 268px;
  top: 793px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  border-radius: 20px;
}
.user-list-sec {
  padding-left: 20px;

}
.user-list {
  list-style: none;
  
}
.user-list-2 {
  position: relative;
  top: 0;
  left: -15px;
}
.user-list-3 {
  position: relative;
  top: 0;
  left: -30px;
}
.user-list-4 {
  position: relative;
  top: 0;
  left: -45px;
}
.user-list-5 {
  width: 52px;
  height: 52px;
  position: relative;
  top: 0;
  left: -60px;
  padding: 13px 13px;
  background: #8087B8;
  border: 1px solid #6668AA;
  border-radius: 50%;
}
.users-item {
  width: 111px;
  height: 44px;
  position: relative;
  top: -64px;
  left: 240px;
}
.user-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #BBBBC4;
}
.user-text a {
  color: #FB5048;
  text-decoration: none;
}
.hero-text-sec {
  width: 484px;
  position: relative;
  top: -605px;
  left: 758px;
}
.hero-title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.8);

}
.hero-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
}
.inp-sec {
  width: 450px;
  height: 68px;
  margin-top: 58px;
  background-color: #1F2143;
  border-radius: 12px;
  
}
.search-inp {
  width: 450px;
  line-height: 68px;
  padding-left: 32px;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  background-color: #1F2143;
  border: none;
  border-radius: 12px;
  
}
.inp-label {
  width: 44px;
  height: 44px;
  background: #282B57;
  position: relative;
  top: -56px;
  left: 393px;
  border-radius: 6px;
  padding: 10px;
  
}
.bx-search {
  display: inline-block;
  font-size: 24px;
  color: #9A9CCB;
}
.hero-item {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-top: 34px;
  color: rgba(255, 255, 255, 0.4);
}
.buttons {
  padding: 0;
  margin-top: 34px;
}
.btn-list {
  list-style-type: none;
  
}
.btn {
  height: 37px;
  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-right: 9px;
  margin-bottom: 15px;
  color: rgba(154, 156, 203, 0.6);
  background-color: inherit;
}
.buttons-hover:hover {
  border: 1px solid rgb(154, 156, 203);
  color: rgb(154, 156, 203);
}
.btn-1 {
  width: 123px;
}
.btn-2 {
  width: 154px;
}
.btn-3 {
  width: 178px;
}
.btn-4 {
  width: 181px;
}
.btn-5 {
  width: 119px;
}
.btn-6 {
  width: 114px;
}

/* START SUPPORT SECTION */

.support-sec {
  width: 100%;
  height: 348px;
  margin-top: -364px;
  background-color: #171836;
}

/* START SUPPORT SECTION  */
.support {
  padding: 0;
}
.support-list {
  list-style: none;
  margin-left: 75px;
}
.support-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.support-text {
  width: 311px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.title1::before {
  content: "";
  width: 60px;
  height: 60px;
  position: relative;
  top: 40px;
  left: -69px;
  display: block;
  background-image: url("../media/img/mentors-img1.svg");
  background-repeat: no-repeat;
}
.title2::before {
  content: "";
  width: 60px;
  height: 60px;
  position: relative;
  top: 40px;
  left: -69px;
  display: block;
  background-image: url("../media/img/mentors-img2.svg");
  background-repeat: no-repeat;
}
.title3::before {
  content: "";
  width: 60px;
  height: 60px;
  position: relative;
  top: 40px;
  left: -69px;
  display: block;
  background-image: url("../media/img/mentors-img3.svg");
  background-repeat: no-repeat;
}

/* START TRAINING SECTION  */
.training {
  width: 100%;
  height: 765px;
}
.learning-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.8);
}
.learning-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
}
.training-course {
  width: 276px;
  height: 412px;
  margin-top: 84px;
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.2) 100%);
  border-radius: 20px;
  border: 2px solid #202247;
}
.training-course:hover {
  width: 276px;
  height: 485px;
}
.training-course:hover .bottom-btn {
  opacity: 1;
}
.training-img {
  padding: 12px;
}
.training-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  padding-left: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #3BF5BD;
}
.training-title {
  font-style: normal;
  font-weight: 600;
  padding-left: 12px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}
.training-text {
  width: 249px;
  height: 58px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 15px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid ;
}
.mentors {
  position: relative;
  top: -72px;
  left: 72px;
}
.mentors::before {
  content: "";
  width: 60px;
  height: 60px;
  position: relative;
  top: 78px;
  left: -58px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}
.mentors1::before {
  background-image: url("../media/img/mentor1.png");
}
.mentors2::before {
  background-image: url("../media/img/mentor2.png");
}
.mentors3::before {
  background-image: url("../media/img/mentor3.png");
}
.mentors4::before {
  background-image: url("../media/img/mentor4.png");
}
.mentors-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
}
.mentors-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}
.bottom-btn {
  position: relative;
  top: -44px;
  left: 60px;
  opacity: 0;
}
.secret-btn {
  padding: 12px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #F5443B;
}
.show-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 30px;
  border: 1px solid #F5443B;
  background-color: #F5443B;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

/* START WEBINAR SECTION  */

.webinar-sec {
  width: 100%;
  height: 1000px;
}
.webinar-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-top: 130px;
  color: rgba(255, 255, 255, 0.8);
}
.webinar-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 7;
  color: rgba(255, 255, 255, 0.4);
}
.video-sec {
  position: absolute;
}
.vid-img1 {
  position: relative;
  top: 81px;
  left: 0;
}
.vid-img2 {
  position: absolute;
  top: 0;
  left: 294px;
}
.vid-img3 {
  position: relative;
  top: 81px;
  left: 394px;
}
.more-link {
  display: flex;
  justify-content: flex-end;
  margin-top: -130px;
}
.more {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #D1D1D7;
  text-decoration: none;
  text-shadow: 0px 5px 10px #2E3062;
}
.pricing {
  width: 100%;
  height: 900px;
}

/* START PRICING SECTION  */
.pricing-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-top: 150px;
  color: rgba(255, 255, 255, 0.8);
}
.pricing-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
.pricing-course {
  width: 372px;
  height: 515px;
  margin-top: 84px;
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  border-radius: 20px;
  border: 2px solid #292B55;
  position: relative;
}
.course {
  width: 119px;
  margin-left: 85px;
  margin-top: 35px;
  position: relative;
  
}
.border-div {
  width: 277px;
  margin: 0 auto;
  padding-bottom: 29px;
  border-bottom: 2px solid #272953;
}
.course::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -3px;
  left: -87px;
  
  background-repeat: no-repeat;
  border-radius: 10px;
}
.course-one::before {
  background-image: url("../media/img/star.png");
}
.course-two::before {
  background-image: url("../media/img/kale.png");
}
.course-there::before {
  background-image: url("../media/img/korona.png");
}
.course-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  color: rgba(255, 255, 255, 0.8);
}
.month {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  color: #F5453D;
}
.month sup {
  font-size: 14px;
}
.month span {
  font-size: 11px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.status-sec {
  margin-top: 30px;
}

.status-list {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
  padding-left: 8px;
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
}
.status-list::before {
  content: "";
  width: 13px;
  height: 13px;
  margin-right: 15px;
  display: block;
  border-radius: 50%;
  background: #9799CE;
}
.e-btn-div {
  text-align: center;
  margin-bottom: 1px;
}
.buy-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background: #F5443B;
  border-radius: 6px;
  margin-bottom: 1px;
}
.e-btn-div .free-btn {
  padding: 16px 62px ;
  margin-top: 1px;
}
.express-btn {
  padding: 16px 94px;
}
.premium-btn {
  padding: 16px 90px;
}


.ediv1 {
  margin-top: 142px;
}
.ediv2 {
  margin-top: 105px;
}
.ediv3 {
  margin-top: 31px;
}
.buy-btn:hover {
  background-color: inherit;
  color: #F5443B;
  border: 2px solid #F5443B;
}
.buy-btn:active {
  color: #b33832;
  border: 2px solid #b33832;
}
.status-two::before {
  content: "";
  display: block;
  background-image: url("../media/img/popular.png");
  width: 214.4px;
  height: 214.4px;
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  right: -118px;
}

/* START OUR APPS  */

.our-apps {
  width: 100%;
  height: 434px;
  background: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);
  border-radius: 40px;
}
.app-title {
  width: 566px;
  height: 76px;
  padding-top: 85px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 76px;
  color: #FFFFFF;
  opacity: 0.7;
}
.app-text {
  width: 506px;
  height: 64px;
  padding-left: 100px;
  margin-top: 85px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}
.app-sec {
  padding-left: 100px;

}
.app-list {
  list-style: none;
  margin-right: 25px;
}

.apps-img {
  margin-left: 196px;
  margin-top: 40px;
  
}
.rowss {
  display: flex;
}
/* START FOOTER SECTION  */
.footer-sec {
  width: 100%;
  height: 387px;
  margin-top: 100px;
}
.footer-logo {
  padding-top: 50px;
  padding-left: 95px;
}
.footer-text {
  width: 234px;
  height: 54px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}
.footer-icon {
  width: 154px;
  height: 30px;
  padding: 0;
  margin-top: 25px;
}
.ficon-list {
  list-style: none;
}
.ficon-link {
  font-size: 30px;
  color: #ACABBF;;
}
.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-menu-sec {
  padding: 0;

}
.fotter-list {
  margin-bottom: 20px;
  list-style: none;
}
.footer-link {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
  text-decoration: none;
}
.footer-link:hover {
  opacity: 1;
}
.bottom-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8F91D0;
}